In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
df = pd.read_csv (used_bikes.csv)

In [1]:
data = {'A':[2,5,np.nan,8,np.nan,9],
       'B':[np.nan,45,np.nan,89,63,np.nan], 
       'C':[np.nan,74,np.nan,np.nan,85,4], 
       'D':[10,20,30,40,50,60]}

NameError: name 'np' is not defined

In [2]:

import pandas as pd

# Read the CSV file
df = pd.read_csv('Used_Bikes.csv')

# Print the first few rows of the DataFrame
print(df.head())

                              bike_name     price       city  kms_driven  \
0    TVS Star City Plus Dual Tone 110cc   35000.0  Ahmedabad     17654.0
1           Royal Enfield Classic 350cc  119900.0      Delhi     11000.0
2                  Triumph Daytona 675R  600000.0      Delhi       110.0
3                  TVS Apache RTR 180cc   65000.0  Bangalore     16329.0
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000.0  Bangalore     10000.0

         owner  age  power          brand
0  First Owner  3.0  110.0            TVS
1  First Owner  4.0  350.0  Royal Enfield
2  First Owner  8.0  675.0        Triumph
3  First Owner  4.0  180.0            TVS
4  First Owner  3.0  150.0         Yamaha

In [7]:
data = {'A':[2,5,np.nan,8,np.nan,9],
       'B':[np.nan,45,np.nan,89,63,np.nan], 
       'C':[np.nan,74,np.nan,np.nan,85,4], 
       'D':[10,20,30,40,50,60]}



import pandas as pd
import numpy as np

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     A     B     C   D
0  2.0   NaN   NaN  10
1  5.0  45.0  74.0  20
2  NaN   NaN   NaN  30
3  8.0  89.0   NaN  40
4  NaN  63.0  85.0  50
5  9.0   NaN   4.0  60

In [9]:

df_filled = df.fillna(0)
print(df_filled)

     A     B     C   D
0  2.0   0.0   0.0  10
1  5.0  45.0  74.0  20
2  0.0   0.0   0.0  30
3  8.0  89.0   0.0  40
4  0.0  63.0  85.0  50
5  9.0   0.0   4.0  60